#MEMO
# chan.max_なんちゃら=設定値 :  if 現在値 <= 設定値  ->「最大値以下」を意味する
# chan.min_なんちゃら=設定値 :  if 現在値 > 設定値   ->「最小値を超える」を意味する
# 0xFFFFFF = 16777215

# strategy = onchain_fee
# onchain_fee_numblocks = 9
# onchain_fee_btc = 0.001
## -> Electrum.get_fee_estimate(onchain_fee_numblocks)
##    fee_ppm = int((0.01 / onchain_fee_btc) * (223 * sat_per_byte))
##    ex) sat/B=1, onchain_fee_btc=0.1 => 22

# sats_in と sats_out
# 指定期間中に該当チャネル でのインフロー額、アウトフロー額

# capacity = local balance + remote balance
# liquidity = balance - reserve - pendingHTLCs

# rastioはローカルバランス/チャネルサイズの比率。
# 1だとLBでいっぱい。0だとLBが枯渇

##################################################################################
##
## ブラックリストノード / ウォールノード
##
[BL/WALL node base policy↓]
min_htlc_msat = 1000
base_fee_msat = 0
max_htlc_msat_ratio = 1

[ln.nicehash.com [Nicehash]]
# 2022/7/19 ZFR平均原価720ppm
chan.id = 812508306668584961
###
strategy = static
fee_ppm = 800

[bfx-lnd1]
# 2022/7/9 ZFR平均原価800ppm
chan.id = 814624866595241984
###
strategy = static
fee_ppm = 850

[Kraken 🐙⚡]
# 2022/7/9 ZFR平均原価2,800ppm
# rebalance-lnd でやるなら --fee-ppm-limit 3000 --reckless とする
chan.id = 814627065703563265
###
strategy = static
fee_ppm = 3000
min_htlc_msat = 100_000

[ACINQ]
# 2022/7/9 ZFR平均原価520ppm 突出1件800ppm
chan.id = 810346666842324993
###
strategy = static
fee_ppm = 700

[Wallet of Satoshi.com]
# 2022/7/12 ZFR平均原価 400 ppm
chan.id = 799938689762459649
###
strategy = static
fee_ppm = 420

# ウォール？
#
[Lappsnet]
node.id = 03663d7b3ac41fd9daf4a3cbceb32b05672564fa8634ba420c3a7bb656f226ddcd
###
strategy = static
fee_ppm = 500
base_fee_msat = 0
min_htlc_msat = 1000

##################################################################################
##
## パッシブ運用ノード
##
[base↓]
min_htlc_msat = 1_000
base_fee_msat = 1_000


[zero fee routing | CLN]
node.id = 038fe1bd966b5cb0545963490c631eaa1924e2c4c0ea4e7dcb5d4582a1e7f2f1a5
###
strategy = proportional
min_fee_ppm = 0
max_fee_ppm = 10
max_htlc_msat_ratio = 0.9

# 残高不足の失敗(Insufficient Balance)を出すと経路探索の対象外チャネルにされるらしい。
# 手数料不足(Fee Insufficient)、HTLC超過(HTLC Exceeds max)はそれよりはマシとのこと。
# なのでratio(=Local Liquidity/Capacity)が低いなら高いFeeと低いmaxHTLCを併用して残高不足失敗をある程度防止する。
[NOT low ratio]
chan.min_ratio = 0.1
##
strategy = proportional
min_fee_ppm = 5
max_fee_ppm = 100
max_htlc_msat_ratio = 0.9

[low ratio]
chan.max_ratio = 0.1
##
strategy = static
fee_ppm = 600
max_htlc_msat = 10_000_000

